body {
    background-color: #ADD8E6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    font-size: 25px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-top: 25px;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}

#paragraph2 {
    width: 60%;
    margin: 20px auto;
    padding: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 40px;
    border: 5px solid #008000;
    background-color: #ffffff;
    line-height: 2;
    margin-left: 15px;
}

.blue {
    color: #ffffff;
    background-color: #000080;
    padding: 20px;
    border: 1px solid #000000;
}

ol {
    list-style-type: decimal-leading-zero;
    margin-left: -12px;
}

ol li a {
    color: #0025B2;
}

a[href*="w3schools"] {
    color: #8B0000;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000;
}

th {
    background-color: #cccccc;
    padding: 3px;
    text-align: center;
}

td {
    background-color: #ffffff;
    padding: 10px;
}